
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 0;
}

.grid-header { grid-area: header; }
.grid-menu { grid-area: menu; }
.grid-menu-header { grid-area: menu-header; }
.grid-main { grid-area: main; }
.grid-sidebar { grid-area: right; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu-header main right'
    'menu main right'
    'footer footer footer';
  grid-gap: 5px;
  background-color: #ffffff;
  /* padding: 10px; */
  min-height: 100vh;
  grid-template-columns: 250px 1fr 200px;
  grid-template-rows: 70px
                      1fr
                      40px;
}

/* .grid-container > div {
  background-color: #292840;
  text-align: center;
} */

/* central fonts  */
.centrate {
  font-family: 'Press Start 2P', cursive;
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;
}

.vertical-menu {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

.vertical-menu a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  outline: 0;

}

.vertical-menu a:hover {
  background-color: #47525F;
}

.vertical-menu a.active {
  background-color: #DA513D;
  color: white;
  font-weight: bold;
}

/* Colorisation  */

.light-grey {
  background-color: #47525F;
}

.dark-grey {
  background-color: #333F4E;
}

.grid-footer a {
  text-decoration: none;
  outline: 0;
  color: #DA513D;
}
