{% extends "base.html.j2" %}
{% block content %}

  {% for key,value in entries.iterrows() %}

  <ul>
      <li>
           <div class="article_content">
             <span>{{ value.title|e }}</span>
             <div class="summary">
               {{ value.summary|e }}</br>
               <a href="{{ value.link }}">Read More</a>
             </div>
           </div>
       </li>
  </ul>
  {% endfor %}
{% endblock %}
{% block right_content %}

<div class="grid-menu dark-grey">
  <div class="vertical-menu ">
    <a href="/explore/tech">tech </a>
    <a href="/explore/political">political</a>
    <a href="/explore/games">games</a>
    <a href="/explore/hax">DIY</a>
    <a href="/explore/serbia_news">serbia_news</a>
  </div>

</div>


{% endblock %}
