<hr />
<h3>image</h3>
{{eimage}}

  <hr />
  <h3>Title</h3>
  {{etitle}}

<hr />
<h3>summary</h3>
{{esummary}}

<hr />
<h3>edate</h3>
{{edate}}

<a href="{{ elink }}">Link</a>
<hr />
<h3>Number of articles </h3>
{{entiresnumber}}
<hr />
<h3>sample lists  </h3>



{% for item in navigation %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
{% endfor %}



<ul>
    <li><div class="article_content">
      <span>{{etitle}}</span>
      <div class="short-summary">
        <!-- sssss{{edescription}} -->
        <a href="{{ elink }}">Read More</a>
      </div>
    </div>{{eimage}}
</li>
    <li>foo<span>span</span></li>




</ul>


entrynumber = len(NewsFeed.entries)
print(f"Number of RSS posts {len(NewsFeed.entries)}")
entries_sorted = entry.keys()
